<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd"> 
<html><head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css"
          href="/%2Bdownload/style.css">
    <link rel="stylesheet" type="text/css"
          href="/%2Bdownload/pygments.css">
    <link rel="shortcut icon" type="image/x-icon"
          href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml"
          title="Source Mage GNU/Linux (ATOM)"
          href="/%2Bfeed/rss">
    <link rel="search" type="application/opensearchdescription+xml"
          href="/+download/os.xml" title="Source Mage">
    

    
</head><body><div id="hatta-header"> 
    
    
        <a id="hatta-logo"
           href="/News"><img
             src="/%2Bdownload/logo.png"
             alt="[logo.png]"
        ></a>
    

    
    <form action="/%2Bsearch" id="hatta-search" method="GET"
      ><div><input
        id="hatta-search-q" name="q"><input
        class="button" type="submit" value="Search"
    ></div></form>

    
    <div id="hatta-menu">
    
        <a href="/About" class="wiki" title="About">About</a>
    
        <a href="/News" class="current wiki" title="News">News</a>
    
        <a href="/Download" class="wiki" title="Download">Download</a>
    
        <a href="/Docs" class="wiki" title="Docs">Docs</a>
    
        <a href="/Bugs" class="wiki" title="Bugs">Bugs</a>
    
        <a href="/Contact" class="wiki" title="Contact">Contact</a>
    
    </div>

    <h1>News</h1>
</div>
<div id="side-menu">
    <h4>Information</h4>
    <ul>
        <li><a href="/Intro">new to Source Mage</a></li>
        <li><a href="/Developers">about the Team</a></li>
        <li><a href="/Docs">documentation</a></li>
        <li><a href="/News">latest news</a></li>
        <li><a href="/Needs">how to help</a></li>
    </ul>
    <h4>Tools</h4>
    <ul>
        <li><a href="/Download">get Source Mage</a></li>
        <li><a href="/Bugs">report a bug</a></li>
        <li><a href="http://codex.sourcemage.org/">view the Codex</a></li>
        <li><a href="http://scmweb.sourcemage.org/">browse the source</a></li>
    </ul>
    <h4>Resources</h4>
    <ul>
        <li><a href="/Contact">contact us</a></li>
        <li><a href="/Mirrors">mirrors</a></li>
    </ul>
</div>
<div id="sponsor"><h3>Sponsors:</h3>
    <a href="http://digly.ru" title="E-Commerce Technology, Ltd."><img src="http://static.sourcemage.org/digly.png" alt="digly.png"></a>
</div>
<div id="hatta-content"> 
    {% block content %}{% endblock %}
</div><div id="hatta-footer"> 
    
    <p class="copy">All contents released under the <a href="http://www.gnu.org/licenses/fdl.html" class="external" title="http://www.gnu.org/licenses/fdl.html">GNU Free Documentation License</a>.
    All Source Mage code released under the <a href="http://www.gnu.org/licenses/gpl.html" class="external" title="http://www.gnu.org/licenses/gpl.html">GNU General Public License 2.0</a> or greater.</p>

</div>
    
    <script type="text/javascript"
            src="/%2Bdownload/scripts.js"></script>
    

</body></html>
