<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title type="text">{{ page.title }}</title>
  {%- set root_url = page.rss.root_url -%}
  <id>{{ root_url ~ page.url }}</id>
  <updated>{{ (site.pages | rejectattr("meta.date", "none") | sort(true, attribute='meta.date') | first).meta.date }}</updated>
  <link href="{{ root_url }}/" />
  <link href="{{ root_url ~ page.url }}" rel="self" />
  <subtitle type="text">Track the most recent changes to the news in this feed.</subtitle>
  <generator>Wok</generator>
  {%- for subpage in site.pages | rejectattr("meta.date", "none") | sort(true, attribute='meta.date') %}
    {%- if loop.index <= 10 %}
    <entry xml:base="{{ root_url ~ page.url }}">
      <title type="text">{{ subpage.meta.title }}</title>
      <id>{{ root_url ~ subpage.meta.url }}</id>
      <updated>{{ subpage.meta.date }}</updated>
      <link href="{{ root_url ~ subpage.meta.url }}" />
      <author>
        <name>{{ subpage.meta.author }}</name>
      </author>
      <content type="text">{{ subpage.meta.content | striptags | truncate(page.rss.char_limit) }}</content>
    </entry>
    {%- endif -%}
  {%- endfor %}
</feed>

